<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Achombo/My Cart</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(
          to right,
          rgba(106, 17, 203, 1),
          rgba(37, 117, 252, 1)
        );

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(
          to right,
          rgba(106, 17, 203, 1),
          rgba(37, 117, 252, 1)
        );
      }
    </style>
    <title>Cart</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="h-100 gradient-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Cart</h5>
              </div>

              <div class="card-body">
                <% cart.forEach(function (item) { %>

                <!-- Single item -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div
                      class="bg-image hover-overlay hover-zoom ripple rounded"
                      data-mdb-ripple-color="light"
                    >
                      <img
                        src="images/<%= item.image  %>"
                        class="w-100"
                        alt="Blue Jeans Jacket"
                      />
                      <a href="#!">
                        <div
                          class="mask"
                          style="background-color: rgba(251, 251, 251, 0.2)"
                        ></div>
                      </a>
                    </div>
                    <!-- Image -->
                  </div>

                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong><%= item.name %></strong></p>

                    <form action="/remove_item" method="post">
                      <input type="hidden" name="id" value="<%= item.id%>" />
                      <button
                        type="submit"
                        class="btn btn-primary btn-sm me-1 mb-2"
                        data-mdb-toggle="tooltip"
                        title="Remove item"
                        value="Remove Item"
                      >
                        <i class="fas">Remove Item</i>
                      </button>
                    </form>

                    <!-- Data -->
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Quantity -->
                    <form action="/edit_menu_quantity" method="post">
                      <div class="d-flex mb-4" style="max-width: 300px">
                        <input type="hidden" value="<%= item.id %>" name="id" />
                        <input
                          type="submit"
                          name="decrease_quantity"
                          class="btn btn-primary px-3 me-2"
                          value="-"
                        />

                        <div class="form-outline">
                          <input
                            id="form1"
                            min="0"
                            name="quantity"
                            value="<%= item.quantity %>"
                            type="text"
                            class="form-control"
                            readonly
                          />
                          <label class="form-label" for="form1">Quantity</label>
                        </div>
                        <input
                          type="submit"
                          name="increase_quantity"
                          class="btn btn-primary px-3 me-2"
                          value="+"
                        />
                      </div>
                    </form>
                    <!-- Quantity -->

                    <!-- Price -->
                    <p class="text-start text-md-center">
                      <strong>$<%= item.price %></strong>
                    </p>
                    <!-- Price -->
                  </div>
                </div>

                <!-- Single item -->

                <hr class="my-4" />

                <% }) %>
              </div>
              <div style="text-align: center">
                <a href="javascript:history.back()"
                  ><input
                    type="button"
                    class="btn btn-primary me-1 mb-2"
                    value="Go Back"
                /></a>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <p><strong>Expected Delivery</strong></p>
                <p class="mb-0">Withing 45 Minutes</p>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body">
                <p><strong>We accept</strong></p>
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                  alt="Visa"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                  alt="American Express"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                  alt="Mastercard"
                />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                  >
                    Amount
                    <span>$<%= total %></span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0"
                  >
                    Delivery
                    <span>Free</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0"
                  >
                    Tax (15%)
                    <span>$<%= (15/100*total).toFixed(2) %></span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <span
                      ><strong
                        >$<%= ((15/100*total) +total).toFixed(2) %></strong
                      ></span
                    >
                  </li>
                </ul>
                <form action="/checkout" method="get">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    Go to checkout
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
